/* Import styles */
@import url(bootstrap/dist/css/bootstrap.min.css);
@import url(bootstrap-icons/font/bootstrap-icons.css);
@import url(fontawesome-free-6.5.2-web/css/all.css);
/* Reset styles */
* {
    margin: 0;
    padding: 0;
}

/* Global styles */
body {
    overflow-x: hidden;
    background-color: #373B46;
}

h1, h2, h3, h4, h5, h6, p, a, li, ul {
    font-family: sans-serif;
}

/* Mobile styles */
.app {
    width: 100vw;
    height: 100vh;
}

.description {
    top: -10rem;
    z-index: 2;

    p {
        color: rgb(255, 255, 255);
    }

    .actions {
        padding-top: 1.5rem;

        a {
            display: inline;

            i {
                margin-left: 2%;
                color: white;
                font-size: 16px;
            }
        }
    }

    .song-container {
        height: 50px;
        display: flex;

        .song-img {
            margin-right: 1rem;
            width: 3.5rem;
            top: auto;
            border: 3px #373B46 solid;
            height: 3.5rem;
        }

        .song-name {
            padding-top: 4px;
            position: relative;
            display: flow;

            h2 {
                color: rgb(255, 255, 255);
                margin: 0;
                font-size: 22px;
            }

            h6 {
                color: lightgray;
                margin: 0;
                font-size: 14px;
            }
        }

        .song-info {
            display: flex;
            justify-content: end;
            margin-right: 1rem;
        }
    }
}

.profile-data {
    img.rounded {
        margin-left: 1.5rem;
        margin-right: 2%;
        position: relative;
        object-fit: contain;
        object-position: center;
        border-radius: 10%;
    }

    div.bg {
        background-color: #373B46;
        flex-direction: column;
        align-items: center;

        .image-container {
            display: flex;
            align-items: center;
        }

        .User {
            position: relative;
            top: -0.6rem;

            h2 {
                font-weight: bold;
            }

            h6 {
                color: rgb(204, 204, 204);
                font-weight: initial;
            }
        }

        .image-container {
            img {
                top: -2rem;
                width: 7rem;
                height: 7rem;
                border: 4px solid #333335;
            }
        }

        div {
            width: 100%;
        }
    }
}
.bouncing:hover{
    -webkit-animation-name: fa-bounce;
    animation-name: fa-bounce;
    -webkit-animation-delay: var(--fa-animation-delay, 0s);
    animation-delay: var(--fa-animation-delay, 0s);
    -webkit-animation-direction: var(--fa-animation-direction, normal);
    animation-direction: var(--fa-animation-direction, normal);
    -webkit-animation-duration: var(--fa-animation-duration, 1s);
    animation-duration: var(--fa-animation-duration, 1s);
    -webkit-animation-iteration-count: var(--fa-animation-iteration-count, infinite);
    animation-iteration-count: var(--fa-animation-iteration-count, infinite);
    -webkit-animation-timing-function: var(--fa-animation-timing, cubic-bezier(0.28, 0.84, 0.42, 1));
    animation-timing-function: var(--fa-animation-timing, cubic-bezier(0.28, 0.84, 0.42, 1));
}

.separate-top {
    position: relative;
    z-index: 2;
    padding-top: 1.5rem;
    border-top: gray solid 2px;
}

.separate-bttm {
    position: relative;
    z-index: 2;
    padding-bottom: 1.5rem;
    border-bottom: gray solid 2px;
}
.div-relative{
display: grid;
justify-content: center;
    justify-self: center;
    position: absolute;
    margin: 73px;
}
.title-relative{
    justify-self: center;
    font-size: 5.7vw;
}
.list-relative{
    justify-self: center;
    list-style: none;
    list-style-type: none;
    justify-self: center;
    font-size: 2.5vw;
}
.svgcontent {
    top: 10rem;
    width: 101vw;
    margin-left: -1vw;
}
.profile-content{
    top: 355px;
    position: absolute;
    justify-content: center;
    display: grid;
}
.profilepic {
    mask-image: url('../img/Profile_temp.svg');
    mask-repeat: no-repeat;
    mask-size: contain;
    mask-position: center center;
    
    -webkit-mask-image: url('../img/Profile_temp.svg');
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: contain;
    -webkit-mask-position: center center;
    display: grid;
}
.svgprofiletemp{
    width: 32vw;
    justify-self: center;
    display: grid;
}
.userdata{
    padding-inline: 20px;
    display: grid;
    .username{
        justify-self: center;
        text-align: center;
        font-size: 4.5vw;
        padding-inline: 20vw;
    }
    .email{
        justify-self: center;
        text-align: center;
        font-size: 3.5vw;
        padding-inline: 20vw;
    }
}
.background {
    background: linear-gradient(to bottom, #FF00B2, #FF7E00);;
    background-size: cover;
    background-repeat: no-repeat;
}

.languages {
    justify-self: center;
    text-align: center;
    list-style-type: none; /* Remove bullet points */
    padding: 0;
    margin: 0;
    display: flex; /* Use flexbox to arrange items horizontally */
}

.languages li {
    margin-inline: 10px;
}

/* Tablet styles */
@media screen and (min-aspect-ratio: 1/1) and (min-width: 400px) {
    .app {
        background-position: left center;
    }

}
@media (max-width: 1204px) {
    body {
      overflow-y: visible;
      overflow-y: scroll;
    }
    .description{
        padding-top:4.7vw
    }
  }
  @media (max-width: 1304px) {
    .description{
        padding-top:3.7vw
    }
  }
  @media (max-width: 950px) {
    .description{
        padding-top:5.7vw
    }
  }
  @media (max-width: 774px) {
    .description{
        padding-top:7.7vw
    }
  }
  @media (max-width:674px) {
    .description{
        padding-top:8.7vw
    }
  }
  @media (max-width:564px) {
    .description{
        padding-top:9.7vw
    }
    .title-relative{
        justify-self: center;
        font-size: 6.7vw;
    }
  }
  @media (max-width:364px) {
    .description{
        padding-top:10.7vw
    }
    .title-relative{
        justify-self: center;
        font-size: 7.7vw;
    }
    .title-relative{
        justify-self: center;
        font-size: 8.7vw;
    }
  }
  .appendanimation{
    justify-self: center;
    text-align: center;
    list-style-type: none; /* Remove bullet points */
    padding: 0;
    margin: 0;
    display: flex; /* Use flexbox to arrange items horizontally */
  }
  .strenthsgrid{
    justify-content: center;
    display: flex;
    gap: 15px;
  }
  .strength{
    background-color: transparent;
    border: 2px solid;
  }
  .formation{
    background-color: transparent;
    border: 2px solid;
    display: flex;
  }
  .centering{
    padding-inline: 32vw;
    display: grid;
    ul{
        li{
            font-size: 5vw !important;
        }
    }
  }
  /* Style for the card */
.card {
    max-width: 540px;
    margin-bottom: 1rem; /* Added margin bottom for spacing between cards */
  }
  
  /* Style for the image column */
  .col-md-4 {
    flex: 0 0 auto;
    width: 33.333333%;
    max-width: 33.333333%;
  }
  .cardformation{
    display: grid;
    justify-content: center;
  }
  /* Style for the card body */
  .col-md-8 {
    flex: 0 0 auto;
    width: 66.666667%;
    max-width: 66.666667%;
  }
  
  /* Style for the card title */
  .card-title {
    font-size: 1.25rem;
    font-weight: bold ;
  }
  
  /* Style for the card text */
  .card-text {
    font-size: 1rem !important; 
  }
  
  /* Style for the small text */
  .small {
    font-size: 0.875rem !important;
  }
  